body {
    background-color: rgb(31, 31, 31);
}

table {
   border-color:darkorchid;
}

hr {
    border-color: darkorchid;
}

a {
    color:goldenrod;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 27px;
    text-decoration: none;
}

h1 {
    color:gold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
}

h2 {
    color: springgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
}

.p1 {
    color:darkorange;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 27px;
}

.p2 {
    color: tomato;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 28px;
}

.p3 {
    color: chartreuse;
    font-family:'Times New Roman', Times, serif;
    font-size: 31px;
}

.p4 {
    color: crimson;
    font-family: sans-serif;
    font-size: 33px;
}

.p5 {
    color: firebrick;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 29px;
}

.p6 {
    color: limegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

li {
    color: dodgerblue;
    font-family: monospace;
    font-size: 20px;
}